<%- include('../../layout/head') %>
</head>
<body>
	<%- include('../../layout/header') %>

    <div>
    <%- include('../auth/sidebar.ejs') %>
    
	<%- include('../../layout/footer') %>
	</div>
</body>
</html>