<%- include('../../layout/head') %>
<body>
	<%- include('../../layout/header') %>

<div>
	<a id="signout-button" href='/login'><i class="fas fa-sign-out-alt"></i> &nbsp Sign Out</a>
	<%- include('../../layout/footer') %>
	</div>
</body>
</html>