<%- include('../../layout/head') %>
</head>
<body>
	<%- include('../../layout/header') %>
<div>
    <h3 id="addconfheader">The agency has been added.</h3>
    <button onclick="window.location.href = '/admin/account';">Add Another Agency</button>
	<%- include('../../layout/footer') %>
	</div>
</body>
</html>