<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
<%- include('../../layout/header') %>

<body>
    <%- include('../auth/addnew-detail.ejs') %>

    </div>
    <%- include('../../layout/footer') %>
    </div>
</body>

</html>