<main>
  <div id="addform">
    <h2>Add New Agency</h2>
    <form action="/admin/addconfirmation" id="adminadd" method="POST">

      <input name="_method" class="hidden" value="PUT">
      <h3>Main Contact</h3>
      <fieldset>
        <label>
          <span>Name</span>
          <textarea name="contact_name" type="text"></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label>
          <span>Title</span>
          <textarea name="contact_title" type="text"></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label>
          <span>Phone</span>
          <textarea name="contact_phone" type="text"></textarea>
        </label>
        <fieldset>
          <fieldset>
            <label>
              <span>Email</span>
              <textarea name="contact_email" type="text"></textarea>
            </label>
          </fieldset>
          <h3>Agency</h3>
          <fieldset>
            <label>
              <span>Name</span>
              <textarea name="name" type="text" required></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>Website</span>
              <textarea name="website" type="text"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>Phone</span>
              <textarea name="phone_number" type="text" class="big"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>Address</span>
              <textarea name="org_address" type="text" class="big"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>
                Address
                <br />
                (Spanish)
              </span>
              <textarea name="org_address_es" type="text" class="big"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>Zip Code</span>
              <textarea name="zipcode" pattern="[0-9]{5}" class="zip"></textarea>
            </label>
          </fieldset>
          <p class="script hidden">What hours are you open for people to walk in?</p>
          <fieldset>
            <label>
              <span>Hours</span>
              <textarea name="schedule" type="text" class="big"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>
                Hours
                <br />
                (Spanish)
              </span>
              <textarea name="schedule_es" type="text" class="big"></textarea>
            </label>
          </fieldset>
          <p class="script hidden">Your agency description should be a brief, simple summary of the services
            someone can access when they come to your agency. Do not list services that are not available
            for homeless and low-income individuals. I will read your agency description, and then you can
            let me know if anything needs to be updated or changed. <br><span class="emphasis">Read
              description and category options below.</span><br></p>
          <fieldset>
            <label>
              <span>Description</span>
              <textarea name="org_description" type="text" class="bigger"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>
                Description
                <br />
                (Spanish)
              </span>
              <textarea name="org_description_es" type="text" class="bigger"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>
                Temporary COVID-19 Restrictions
              </span>
              <textarea name="tempcovid" type="text" class="bigger"></textarea>
            </label>
          </fieldset>
          <fieldset>
            <label>
              <span>Genders Served</span>
              <div id="genderopts">
                <label><input name="gender" type="radio" value="men only">Men Only</label>
                <label><input name="gender" type="radio" value="women only">Women Only</label>
                <label><input name="gender" type="radio" value="no restrictions">No Restrictions
                </label>
              </div>
            </label>
          </fieldset>
  </div>
  <div id="allcats">
    <div id="population">
      <h3>Target Populations </h3>
      <label><input type="checkbox" name="category[4]" value="24">Senior Citizens</label>
      <label><input type="checkbox" name="category[5]" value="18">Immigrants or Refugees</label>
      <label><input type="checkbox" name="category[6]" value="27">Survivors of Violence</label>
      <label><input type="checkbox" name="category[0]" value="14">People of Color</label>
      <label><input type="checkbox" name="category[1]" value="13">Native & Indigenous People</label>
      <label><input type="checkbox" name="category[2]" value="20">LGBTQIA+</label>
      <label><input type="checkbox" name="category[3]" value="29">Veterans</label>
    </div>
    <div id="services">
      <h3>Services Offered</h3>
      <section id="basic-needs">
        <h4>Basic Needs</h4>
        <label><input type="checkbox" name="category[7]" value="1">Emergency and Crisis Lines</label>
        <label><input type="checkbox" name="category[8]" value="3">Hygiene Services</label>
        <label><input type="checkbox" name="category[9]" value="4">Encampments</label>
        <label><input type="checkbox" name="category[10]" value="6">Day Centers</label>
        <label><input type="checkbox" name="category[11]" value="12">Food Assistance</label>
        <label><input type="checkbox" name="category[12]" value="17">Housing Services</label>
        <label><input type="checkbox" name="category[13]" value="25">Shelters</label>
        <label><input type="checkbox" name="category[14]" value="5">Clothing Services</label>
      </section>
      <section id="health">
        <h4>Health</h4>
        <label><input type="checkbox" name="category[15]" value="7">Dental and Vision Services </label>
        <label><input type="checkbox" name="category[16]" value="8">Drug and Alchohol Services</label>
        <label><input type="checkbox" name="category[17]" value="10">Family and Maternity Services</label>
        <label><input type="checkbox" name="category[29]" value="30">Womxn's Health Services</label>
        <label><input type="checkbox" name="category[18]" value="15">General Health Services</label>
        <label><input type="checkbox" name="category[19]" value="16">HIV/AIDS Services</label>
        <label><input type="checkbox" name="category[20]" value="22">Mental Health Services</label>
        <label><input type="checkbox" name="category[31]" value="32">Problem Gambling Resources</label>
        <label><input type="checkbox" name="category[32]" value="31">Pets and Service Animals</label>
      </section>
      <section id="financial">
        <h4>Financial, Legal, and Employment</h4>
        <label><input type="checkbox" name="category[21]" value="2">Identification Services</label>
        <label><input type="checkbox" name="category[22]" value="9">Employment and Training Services</label>
        <label><input type="checkbox" name="category[23]" value="11">Financial Assistance</label>
        <label><input type="checkbox" name="category[24]" value="19">Legal Services</label>
        <label><input type="checkbox" name="category[25]" value="21">Mail Services</label>
        <label><input type="checkbox" name="category[26]" value="26">Storage Services</label>
        <label><input type="checkbox" name="category[27]" value="23">Re-entry Assistance</label>
        <label><input type="checkbox" name="category[28]" value="28">Transportation Services</label>
      </section>
    </div>
  </div>

  <div id="printselection">
    <h3>Print Chapter</h3>
    <section id="printDropDown"> 
      <h4>Chapter to Print this Organization Under in the Physical Guide. You must select some Categories above for this menu to be populated. Pleases select a max of 2 print chapters</h4>
        
      <label for="selectedPrintOptions">Print in Chapters:</label>
      <select multiple="multiple" name="print_locations[]" id="selectedPrintOptions">
          <option  selected value="default" >None Selected</option>
          <option  hidden value="24">Senior Citizens</option>
          <option  hidden value="18">Immigrants or Refugees</option>
          <option  hidden value="27">Survivors of Violence</option>
          <option  hidden value="14">People of Color</option>
          <option  hidden value="13">Native & Indigenous People</option>
          <option  hidden value="20">LGBTQIA+</option>
          <option  hidden value="29">Veterans</option>
          
          <option  hidden value="1">Emergency and Crisis Lines</option>
          <option  hidden value="3">Hygiene Services</option>
          <option  hidden value="4">Encampments</option>
          <option  hidden value="6">Day Centers</option>
          <option  hidden value="12">Food Assistance</option>
          <option  hidden value="17">Housing Services</option>
          <option  hidden value="25">Shelters</option>
          <option  hidden value="5">Clothing Services</option>

          <option  hidden value="7">Dental and Vision Services</option>
          <option  hidden value="8">Drug and Alchohol Services</option>
          <option  hidden value="10">Family and Maternity Services</option>
          <option  hidden value="30">Womxn's Health Services</option>
          <option  hidden value="15">General Health Services</option>
          <option  hidden value="16">HIV/AIDS Services</option>
          <option  hidden value="22">Mental Health Services</option>
          <option  hidden value="32">Problem Gambling Resources</option>
          <option  hidden value="31">Pets and Service Animals</option>

          <option  hidden value="2">Identification Services</option>
          <option  hidden value="9">Employment and Training Services</option>
          <option  hidden value="11">Financial Assistance</option>
          <option  hidden value="19">Legal Services</option>
          <option  hidden value="21">Mail Services</option>
          <option  hidden value="26">Storage Services</option>
          <option  hidden value="23">Re-entry Assistance</option>
          <option  hidden value="28">Transportation Services</option>
      </select>
    </section>
  </div>

  <div id="final-checks">
    <h3>Additional Information</h3>
    <fieldset>
      <label>
        <input type="checkbox" value="t" name="id_req">ID or specific documents are required to access
        services</label>
    </fieldset>
    <fieldset>
      <label><input type="checkbox" value="t" name="sponsorship">This organization is interested in
        sponsorship</label>
      <label class="checks-email"><span>Email address for follow up regarding sponsorship:</span>
        <textarea type="text" name="sponsorship_email"></textarea></label>
    </fieldset>
    <fieldset>
      <label>
        <input type="checkbox" value="t" name="distribution">This organization is interested in
        distribution</label>
      <label class="checks-email"><span>Email address to follow up regarding distribution:</span>
        <textarea type="text" name="distribution_email"></textarea>
      </label>
    </fieldset>
  </div>
  <input class="hidden" name="timestamp" id="timestamp">
  <button type="submit" id="submit-button">Submit</button>
  </form>
</main>

