<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <div>
    <div id="cred-check">
      <div id="gearbox"><i class="fas fa-cog fa-spin"></i></div>
      <h3>Checking your credentials. . . </h3>
    </div>
    <%- include('../../layout/footer') %>
  </div>
</body>

</html>