<%- include('../../layout/head') %>
</head>
<body>
	<%- include('../../layout/header') %>
<div>
    <h3>Your record update has been completed.</h3>
    <input type="button" value="Back to Results" onclick="history.go(-2)" />
    <button onclick="window.location.href = '/account';">New Search</button>

	<%- include('../../layout/footer') %>
	</div>
</body>
</html>