<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
  <div>
    <h3 id="editconfheader">The record has been updated.</h3>
    <input type="button" value="Back to Results" onclick="history.go(-2)" />
    <button onclick="window.location.href = '/admin/account';">New Search</button>

    <%- include('../../layout/footer') %>
  </div>
</body>

</html>