<%- include('../../layout/head') %>
<%- include('../../layout/head-auth') %>
</head>
<body>
	<%- include('../../layout/header') %>
<div>
	<div id="firebaseui-auth-container"></div>

	<%- include('../../layout/footer') %>
	</div>
</body>
</html>