<%- include('../../layout/head') %>
    <body>
    <%- include('../../layout/header') %>
      <div id="signup-form">
        <form>
            <h4>Sign Up</h4>
        </form>
      </div> 
      <div id="login-form">
          <form>
              <h4>Log In</h4>
          </form>
      </div>   
    <div>
    <%- include('../../layout/footer') %>
    </div>
</body>
</html>