<form action="/admin/organization/csv">
  <button type="submit">Download organizations as CSV</button>
</form>

<form id="admin-search" method='GET' action='/admin/search'>
  <div id="admin-search-radio">
    <span>Find an organization whose name (pick one):<br><br></span>
    <input type="radio" value="starts" id="starts" name="adminradio" required>
    <label for="starts">starts with</label>
    <input type="radio" value="includes" id="includes" name="adminradio" required checked>
    <label for="includes">includes</label>
  </div>
  <input type="text" name="searchbar" id="searchbar" required placeholder="letter or keyword">
  <div id="admin-search-date">
    <label for="updatedate">That hasn't been updated since:</label>
    <input id="updatedate" type="date" name="updatedate">
  </div>
  <button id="admin-search-button"><i class="fas fa-search"></i> &nbsp; Search</button>
</form>
