<form id="admin-search" method='POST' action='/admin/:searchTerm'>
    <input type="text" name="searchbar" id="searchbar" placeholder="Search for a name, phone number, address, or keyword">
    <button id="admin-search-button">Search</button>
</form>
