<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
<%- include('../../layout/header') %>

<body>
  <div id="count"></div>
  <main>
    <%- include('../auth/results-detail.ejs', {organizations: results}) %>
  </main>
  </div>
  <%- include('../../layout/footer') %>
  </div>
</body>

</html>