<div id="account-sidebar">
    <form method="POST" action="/sessionLogout">
        <button id="signout-button"><i class="fas fa-sign-out-alt"></i> &nbsp Sign Out</button>
    </form>
    
    <button id="changepassword-button">Change Password</button>
</div>