<ul id="sidebar">
  <a href="/admin/account">
    <li>New Admin Search</li>
  </a>
  <a href="/admin/addnew">
    <li>Add New Agency</li>
  </a>
  <a href="/admin/copyrequests">
    <li>Copy Requests</li>
  </a>
  <a href="/admin/mailinglist">
    <li>Mailing List</li>
  </a>
</ul>