<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
	<%- include('../layout/header') %>
	<div id="confirmation">
		<div id="order-confirmation">
			<p class="confirmation-paragraph">
				Thank you for signing up to be notified when 5th Edition of The Emerald City resource Guide becomes available.
			</p>
			<p class="confirmation-paragraph">
				You can contact us at <a href="mailto:resourceguide@realchangenews.org">resourceguide@realchangenews.org</a> if you need anything in the meantime. Thank you!
			</p>
			<!--
			<p class="confirmation-paragraph" style="font-weight: bold">
				NOTE: At this point we have very low availability of guides. We are currently working to resolve all current orders, and will begin filling new orders on November 30th. Please still go ahead and place your desired order, and we will let you know if your order is able to be filled on/after 11/30. Do not come to the office to pick up your order until we confirm it with you. Thank you!
			</p>
			<p class="confirmation-paragraph">
				Thank you for placing an order of Resource Guides; your order is ready to pick up at any time.
				Please stop by our office whenever it is convenient for you- no need to make an appointment. 
				Our open hours can be seen below. We ask that you come pick up your order as soon as you are available.</p>

			<p class="confirmation-paragraph">
				When you arrive, come to our vendor center (96 S Main St) to meet with staff who can help you get your order
				Please note that we ask agencies to carry their own RG orders out of the building (unless assistance is needed),
				and we have dollies for you to use for this task. We recommend parking as close to 219 1st Ave S as possible; 
				the Main St entrance has stairs, so it is easier to transport the boxes/dollies out of the 1st Ave entrance.</p>

			<p class="confirmation-paragraph">
				Masks are required for entry into our space.</p>

			<p class="confirmation-paragraph">
				Please contact us at resourceguide@realchangenews.org or (206) 441-3247 x105 if you have any questions 
				about picking up your order. Thanks for your support of Real Change!</p>
		</div>
		<p id="feedback-confirmation">Thank for your feedback! Please feel free to also contact us by phone
			at (206) 441-3247 x105.<br>
			Our hours are:</p>
		<ul id="hours">
			<li>Monday 8:30 am - 2 pm</li>
			<li>Tuesday 8:30 am - 2 pm</li>
			<li>Wednesday 8:30 am - 4 pm</li>
			<li>Thursday CLOSED</li>
			<li>Friday 8:30 am - 4 pm</li>
			<li>Saturday CLOSED</li>
			<li>Sunday CLOSED</li>
		</ul>
		-->
	</div>
	<div>
		<%- include('../layout/footer') %>
	</div>
</body>

</html>