<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
	<%- include('../layout/header') %>
	<div id="confirmation">
		<p id="order-confirmation">Thank you for reaching out! Please feel free to also contact us by phone at (206)
			441-3247 x105.<br>
			Our hours are: </p>
		<p id="feedback-confirmation" class="hidden">Thank for your feedback! Please feel free to also contact us by phone
			at (206) 441-3247 x105.<br>
			Our hours are:</p>
		<ul id="hours">
			<li>Monday 8:30 am - 2 pm</li>
			<li>Tuesday 8:30 am - 12 pm</li>
			<li>Wednesday 8:30 am - 4 pm</li>
			<li>Thursday CLOSED</li>
			<li>Friday 8:30 am - 4 pm</li>
			<li>Saturday CLOSED</li>
			<li>Sunday CLOSED</li>
		</ul>
	</div>
	<div>
		<%- include('../layout/footer') %>
	</div>
</body>

</html>