<%- include('../layout/head') %>
<body>
		<%- include('../layout/header') %>
		<div id="confirmation">
			<p>Thanks for reaching out.<br> <br>  You can expect to receive a response from Real Change within 5 business days.</p>
		</div>
<div>
	<%- include('../layout/footer') %>
	</div>
</body>
</html>
