<%- include('../layout/head') %>
</head>
<body>
		<%- include('../layout/header') %>
		<div id="confirmation">
			<p id="order-confirmation">Thank you for reaching out!  Please feel free to also contact us by phone at (206) 441-3247 x203.<br>
				Our hours are: </p>
			<p id="feedback-confirmation">Thank for your feedback! Please feel free to also contact us by phone at (206) 441-3247 x203.<br>
				Our hours are:</p>
			<ul>
				<li>Monday 8 am - 4 pm</li>
				<li>Tuesday 8 am - 12pm</li>
				<li>Wednesday 8 am - 6 pm</li>
				<li>Thursday 8 am - 4 pm</li>
				<li>Friday 8 am - 4 pm</li>
				<li>Saturday 8 am - 12 pm</li>
			</ul>
		</div>
<div>
	<%- include('../layout/footer') %>
	</div>
</body>
</html>
