<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
	<%- include('../layout/header') %>
	<div id="confirmation">
		<div id="order-confirmation">
			<p id="confirmation-paragraphs">
				Thank you for placing an order of Resource Guides; your order is ready to pick up at any time.
				Please stop by our office whenever it is convenient for you- no need to make an appointment. 
				Our open hours can be seen below. We ask that you come pick up your order as soon as you are available.</p>

			<p id="confirmation-paragraphs">
				When you arrive, come to our vendor center (96 S Main St) to meet with staff who can help you get your order
				Please note that we ask agencies to carry their own RG orders out of the building (unless assistance is needed),
				and we have dollies for you to use for this task. We recommend parking as close to 219 1st Ave S as possible; 
				the Main St entrance has stairs, so it is easier to transport the boxes/dollies out of the 1st Ave entrance.</p>

			<p id="confirmation-paragraphs">
				Masks are required for entry into our space.</p>

			<p id="confirmation-paragraphs">
				Please contact us at resourceguide@realchangenews.org or (206) 441-3247 x105 if you have any questions 
				about picking up your order. Thanks for your support of Real Change!</p>
		</div>
		<p id="feedback-confirmation" class="hidden">Thank for your feedback! Please feel free to also contact us by phone
			at (206) 441-3247 x105.<br>
			Our hours are:</p>
		<ul id="hours">
			<li>Monday 8:30 am - 2 pm</li>
			<li>Tuesday 8:30 am - 2 pm</li>
			<li>Wednesday 8:30 am - 4 pm</li>
			<li>Thursday CLOSED</li>
			<li>Friday 8:30 am - 4 pm</li>
			<li>Saturday CLOSED</li>
			<li>Sunday CLOSED</li>
		</ul>
	</div>
	<div>
		<%- include('../layout/footer') %>
	</div>
</body>

</html>