<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
    <main>
				<p class="contact">Have questions, suggestions, or corrections regarding the Emerald City Resource Guide? <br><br>Get in touch: <span id="emaillink">contact@emeraldcityresourceguide.org </span><button id="emailcopy">Copy Email</button></p>
				<p class="contact">If you work for a social service organization and would like to request printed copies of the guide, please fill out the form below.  Real Change will confirm receipt of your order and provide you with next steps within 5 business days.</p>
    </main>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>