<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
	<%- include('../layout/header') %>
	<main id="contact-page">
		<div id="copy-request">
			<h2 class="contact">
				Emerald City Resource Guide - 6th Edition
			</h2>

      <p class="contact">
        Need to add your agency or update your agency information in the resource guide? <a href="https://forms.gle/aZcpRDGKanqQ4HkB9">Fill out this form!</a>
      </p>
      <p class="contact">
        Want to be notified about future print orders? <a href="https://forms.gle/Q2HBw4rZYgBVgddb7">Fill out this form</a> to be added to our mailing list! 
      </p>
      <p class="contact">
        If you are interested in sponsoring the Resource Guide to help us make this vital resource possible, contact <a href="mailto:communications@realchangenews.org?subject=Resource%20Guide%20Sponsorship">communications@realchangenews.org</a> for more information.
      </p>
      <p class="contact">
        For all other inquiries, please email <a href="mailto:resourceguide@realchangenews.org">resourceguide@realchangenews.org</a>. 
      </p>

			<!--
			<h2 class="contact">
				Reserve your copies today by placing an order below.
			</h2>
			<p class="contact-center">This project is made possible by sponsors like those listed below. Please <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">join us</a> to put the Resource Guide into the hands of those who need it.
			</p>
			<p class="contact">To cover the costs of updating information and printing, please note:
			</p>
			<ul class="contact">
				<li class="contact">
					Agencies requesting 500 or more Resource Guides are required to make a gift of any size
				</li>
				<li class="contact">
					Agencies requesting 1,000 or more Resource Guides are required to become a sponsor at any level
				</li>
				<li class="contact">
					All agencies will be limited to no more than 5,000 Resource Guides per organization.
				</li>
				<li class="contact">
					Please coordinate with other staff in your office to make sure your agency is only placing one order.
				</li>
			</ul>
			<p class="contact">
				Thank you for distributing this important resource to your community!
			</p>
			<p class="contact" style="font-weight:bold">
				**At this point we have very low availability of guides. We are currently working to resolve all current orders, and will begin filling new orders on November 30th. Please still go ahead and place your desired order, and we will let you know if your order is able to be filled on/after 11/30. Do not come to the office to pick up your order until we confirm it with you. Thank you!
			</p>
		    -->

			<!-- <p class="contact">
				Thank you for your interest in our Emerald City Resource Guide! We are currently accepting orders for the 6th edition.
			</p>
			<p class="contact">When the guides are ready to be picked up, we'll send a reminder.
			</p>
			<p class="contact">Please note, if your organization requests 300 copies or more you will be required to <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">Sponsor at any Level</a>. If  you are unable to pay now you should receive an email from our Development team about processing payment either online or will be sent an invoice to pay via check.
			</p>
			<p class="contact">Please coordinate with other staff in your office to make sure your agency is only placing one order.
			</p> 

			<form action="/requestconfirmation" method="POST" class="contact form">
						<label for="organization">Name of Organization</label>
						<input type="text" id="form-organization" name="organization" required>

						<label for="name">Your Name</label>
						<input type="text" id="form-name" name="name" required>

						<label for="email">Email Address</label>
						<input type="email" id="form-email" name="email" required>

						<label for="is_branch">Is this organization a branch of a larger agency?</label>
						<input type="checkbox" id="form-is-branch" value="t" name="is_branch">

					 	<label for="phone">Phone Number</label>
						<input type="text" id="form-phone" name="phone" required>
 
						<label for="number">Number of Guides Requested</label>
						<input type="number" id="form-number" name="number" min="0" max="5000" required>
						<p class="contact" id="form-number-donate-warning">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="32" stroke="currentColor">
								<path strokeLinecap="round" strokeLinejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
							</svg>
							Requests for 300 copies or more require a donation at any <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">Sponsorship Level</a>.
						</p>

						<button type="submit" class="request-button" disabled>Submit</button>

					</form> -->
					<!--
					<p style="font-weight: bold; font-size: 2vw; padding: 1em">
						Note: As of January 2022, we have very low availability of guides. It is possible that we may not be able to fill your order, but please submit your request anyway and we will do our best to fill it. Thank you! 
					</p> -->
				
		<!--
		</div>
		 <div id="feedback">
			<p class="contact">If you have feedback, questions, or stories you'd like to share about the Emerald City Resource
				Guide, please fill out the form below.</p>
			<form action="/feedbackconfirmation" method="POST" class="contact form" id="feedback-form">
				<label for="organization">Name of Organization</label>
				<input type="text" id="form-organization" name="organization" required>

				<label for="name">Your Name</label>
				<input type="text" id="form-name" name="name" required>

				<label for="email">Email Address</label>
				<input type="email" id="form-email" name="email" required>

				<label for="feedbackfield">Feedback, questions, or stories</label>
				<textarea form="feedback-form" id="feedbackfield" name="feedbackfield" rows="5" cols="36" wrap="hard"
					required></textarea>

				<button type="submit" class="request-button" disabled>Submit</button>

			</form>
		</div>

    
		<div id="mailinglist">
			<p class="contact">
				Due to low stock, we are no longer fulfilling orders of the 6th edition of the Emerald City Resource Guide. Please fill out the form below to be added to our mailing list for next year's edition.
			</p>
			<form action="/mailinglistconfirmation" method="POST" class="contact form" id="mailing-list-form">
				
				<label for="organization">Name of Organization</label>
				<input type="text" id="form-organization" name="organization_name" required>

				<label for="name">Your Name</label>
				<input type="text" id="form-name" name="contact_name" required>

				<label for="email">Email Address:</label>
				<input type="email" id="form-email" name="email" required>

				<label for="phone">Phone Number</label>
				<input type="text" id="form-phone" name="phone">

				<button type="submit" class="request-button" disabled>Submit</button>

			</form>
		</div> 
  -->
   
	</main>
	</div>
	<%- include('../layout/footer') %>
	</div>
</body>
</html>
