<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
	<%- include('../layout/header') %>
	<main id="contact-page">
		<div id="copy-request">
			<h2 class="contact">
				Emerald City Resource Guide - 4th Edition
			</h2>
			<h2 class="contact">
				Reserve your copies today by placing an order below.
			</h2>
			<p class="contact-center">This project is made possible by sponsors like those listed below. Please <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">join us</a> to put the Resource Guide into the hands of those who need it.
			</p>
			<p class="contact">To cover the costs of updating information and printing, please note:
			</p>
			<ul class="contact">
				<li class="contact">
					Agencies requesting 500 or more Resource Guides are required to make a gift of any size
				</li>
				<li class="contact">
					Agencies requesting 1,000 or more Resource Guides are required to become a sponsor at any level
				</li>
				<li class="contact">
					All agencies will be limited to no more than 5,000 Resource Guides per organization.
				</li>
				<li class="contact">
					Please coordinate with other staff in your office to make sure your agency is only placing one order.
				</li>
			</ul>
			<p class="contact">
				Thank you for distributing this important resource to your community!
			</p>
			<p class="contact" style="font-weight:bold">
				**At this point we have very low availability of guides. We are currently working to resolve all current orders, and will begin filling new orders on November 30th. Please still go ahead and place your desired order, and we will let you know if your order is able to be filled on/after 11/30. Do not come to the office to pick up your order until we confirm it with you. Thank you!
			</p>

			<!-- <p class="contact">
				The Fourth Edition of the Emerald City Resource Guide is almost ready! Reserve your copies today by placing an order below.
			</p>
			<p class="contact">When the guides are ready to be picked up, we'll send a reminder.
			</p>
			<p class="contact">Please note, this project is made possible by sponsors like those listed below. Please <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">join us</a> to put the Resource Guide into the hands of those who need it!
			</p>
			<p class="contact">To cover the costs of updating information and printing, we ask all agencies requesting 250 or more Resource Guides to make a gift of any size.
			</p>
			<p class="contact">Please coordinate with other staff in your office to make sure your agency is only placing one order.
			</p> -->


			<form action="/requestconfirmation" method="POST" class="contact form">
						<label for="organization">Name of Organization</label>
						<input type="text" id="form-organization" name="organization" required>

						<label for="name">Your Name</label>
						<input type="text" id="form-name" name="name" required>

						<label for="email">Email Address</label>
						<input type="email" id="form-email" name="email" required>

					<!-- 	<label for="phone">Phone Number</label>
						<input type="text" id="form-phone" name="phone" required>
 -->
						<label for="number">Number of Guides Requested</label>
						<input type="number" id="form-number" name="number" min="0" max="5000" required>

						<button type="submit" class="request-button" disabled>Submit</button>

					</form>
		</div>
		<!-- <div id="feedback">
			<p class="contact">If you have feedback, questions, or stories you'd like to share about the Emerald City Resource
				Guide, please fill out the form below.</p>
			<form action="/feedbackconfirmation" method="POST" class="contact form" id="feedback-form">
				<label for="organization">Name of Organization</label>
				<input type="text" id="form-organization" name="organization" required>

				<label for="name">Your Name</label>
				<input type="text" id="form-name" name="name" required>

				<label for="email">Email Address</label>
				<input type="email" id="form-email" name="email" required>

				<label for="feedbackfield">Feedback, questions, or stories</label>
				<textarea form="feedback-form" id="feedbackfield" name="feedbackfield" rows="5" cols="36" wrap="hard"
					required></textarea>

				<button type="submit" class="request-button" disabled>Submit</button>

			</form>
		</div> -->
	</main>
	</div>
	<%- include('../layout/footer') %>
	</div>
</body>

</html>
