<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body class="index">
	<%- include('../layout/header') %>
	<div id="index-container">
		<div id="forms-container">
			<form action="/results" method="POST" id="keyword-search-form">
				<p class="instructions">Search for a specific organizations:</p>
				<input type="text" name="searchbar" id="searchbar" required placeholder="name or keyword">
				<button type="submit" name="submitbutton" id="home-search-button" value="keyword"><i class="fas fa-search"></i>
					&nbsp; Search</button>
			</form>
			<form action="/results" method="POST" id="all-form" class="form">
				<p class="instructions">
          Click on the button below to see the full contents of the Emerald City Resource Guide.
          This database is up to date as of June 2024 for the 7th Edition of the resource guide.
          <a href="/contact">Contact us</a> for updates to your agency's information or to be added to a mailing list for the 8th Edition, anticipated to be available in September 2025.
        </p>
				<button type="submit" name="submitbutton" value="all"><i class="fas fa-book"></i> &nbsp See Full Guide</button>
			</form>
			<form action="/results" method="POST" id="search-form" class="form">
				<p class="instructions">Or, fill out the form below to receive a custom list of resources in the Seattle area.
				</p>
				<div class="selectdiv">
					<label for="gender">
						<h3>What is your gender identity?</h3>
					</label>
					<select name="gender" id="gender" required>
						<option disabled selected value>Select One</option>
						<option value="no-restrictions">Rather not say</option>
						<option value="female">Female</option>
						<option value="male">Male</option>
						<option value="no-restrictions">Other</option>
					</select>
				</div>
				<div id="population">
					<h3>What groups do you belong to? </h3>
					<label><input type="checkbox" name="category[]" value="24">Senior Citizens</label>
					<label><input type="checkbox" name="category[]" value="18">Immigrants or Refugees</label>
					<label><input type="checkbox" name="category[]" value="27">Survivors of Violence</label>
					<label><input type="checkbox" name="category[]" value="14">People of Color</label>
					<label><input type="checkbox" name="category[]" value="13">Native & Indigenous People</label>
					<label><input type="checkbox" name="category[]" value="20">LGBTQIA+</label>
					<label><input type="checkbox" name="category[]" value="29">Veterans</label>
				</div>
				<div id="services">
					<h3>What kinds of resources are you looking for?</h3>
					<section id="basic-needs">
						<h4>Basic Needs</h4>
						<label><input type="checkbox" name="category[]" value="1">Emergency and Crisis Lines</label>
						<label><input type="checkbox" name="category[]" value="3">Hygiene Services</label>
						<label><input type="checkbox" name="category[]" value="4">Encampments</label>
						<label><input type="checkbox" name="category[]" value="6">Day Centers</label>
						<label><input type="checkbox" name="category[]" value="12">Food Assistance</label>
						<label><input type="checkbox" name="category[]" value="17">Housing Services</label>
						<label><input type="checkbox" name="category[]" value="25">Shelters</label>
						<label><input type="checkbox" name="category[]" value="5">Clothing Services</label>
					</section>
					<section id="health">
						<h4>Health</h4>
						<label><input type="checkbox" name="category[]" value="7">Dental and Vision Services </label>
						<label><input type="checkbox" name="category[]" value="8">Drug and Alchohol Services</label>
						<label><input type="checkbox" name="category[]" value="10">Family and Maternity Services</label>
						<label><input type="checkbox" name="category[]" value="30">Womxn's Health Services</label>
						<label><input type="checkbox" name="category[]" value="15">General Health Services</label>
						<label><input type="checkbox" name="category[]" value="16"> HIV/AIDS Services</label>
						<label><input type="checkbox" name="category[]" value="22">Mental Health Services</label>
						<label><input type="checkbox" name="category[]" value="32">Problem Gambling Resources</label>
						<label><input type="checkbox" name="category[]" value="31">Pets and Service Animals</label>
						<label><input type="checkbox" name="category[]" value="33">Disability Services</label>
					</section>
					<section id="financial">
						<h4>Financial, Legal, and Employment</h4>
						<label><input type="checkbox" name="category[]" value="2">Identification Services</label>
						<label><input type="checkbox" name="category[]" value="9">Employment and Training Services</label>
						<label><input type="checkbox" name="category[]" value="11">Financial Assistance</label>
						<label><input type="checkbox" name="category[]" value="19">Legal Services</label>
						<label><input type="checkbox" name="category[]" value="21">Mail Services</label>
						<label><input type="checkbox" name="category[]" value="26">Storage Services</label>
						<label><input type="checkbox" name="category[]" value="23">Re-entry Assistance</label>
						<label><input type="checkbox" name="category[]" value="28">Transportation Services</label>
					</section>
				</div>

				<button type="submit" id="submit-button" name="submitbutton" value="search"><i class="fas fa-search"></i> &nbsp;
					Search</button>

			</form>
		</div>
		<%- include('../layout/sponsors') %>
		<%- include('../layout/footer') %>
	</div>
</body>

</html>
