<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
       <div class = "b"><h4>H4</h4></div> 
           <form action ="/results" method="POST">
            
                <label for="gender">Your gender identity</label>    
                    <select name="gender" id="gender" required>
                        <option disabled selected value>-- select one --</option>
                        <option value="no-restrictions">Rather not say</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="no-restrictions">Other</option>
                    </select>

                <label for="kids">Do you have children with you?</label>
                    <select name="kids" id="kids" required>
                        <option disabled selected value>-- select one --</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                
                <div id="population">
                    <h3>Select all of the groups to which you belong:</h3>
                    <input type="checkbox" name="category[0]" value="14">People of Color<br>
                    <input type="checkbox" name="category[1]" value="13">Native People<br>
                    <input type="checkbox" value="21">LGBTQIA<br>
                    <input type="checkbox" value="30">Veterans<br>
                    <input type="checkbox" value="25">Senior Citizens<br>
                    <input type="checkbox" value="19">Immigrants or Refugees<br>
                    <input type="checkbox" value="28">Survivors of Violence<br>
                </div>
                
                <div id="services">
                    <h3>Select all services in which you are interested:</h3>
                    <section id="basic-needs">
                        <h4>Basic Needs</h4>
                        <input type="checkbox" value="1">Emergency and Crisis Lines<br>
                        <input type="checkbox" value="3">Hygiene Services<br>
                        <input type="checkbox" value="4">Encampments<br>
                        <input type="checkbox" value="6">Day Centers<br>
                        <input type="checkbox" value="12">Food Assistance<br>
                        <input type="checkbox" value="17">Housing Services<br>
                        <input type="checkbox" value="26">Shelters<br>
                        <input type="checkbox" value="5">Clothing Services<br>
                    </section>
                    <section id="health">
                        <h4>Health</h4>
                        <input type="checkbox" value="7">Dental and Vision Services<br>
                        <input type="checkbox" value="8">Drug and Alchohol Services<br>
                        <input type="checkbox" value="10">Family and Maternity Services<br>
                        <input type="checkbox" value="15">General Health Services<br>
                        <input type="checkbox" value="16">HIV/AIDS Services<br>
                        <input type="checkbox" value="23">Mental Health Services<br>
                    </section>
                    <section id="financial">
                        <h4>Financial, Legal, and Employment</h4>
                        <input type="checkbox" value="2">Identification Services<br>
                        <input type="checkbox" value="9">Employment and Training Services<br>
                        <input type="checkbox" value="11">Financial Assistance<br>
                        <input type="checkbox" value="20">Legal Services<br>
                        <input type="checkbox" value="22">Mail Services<br>
                        <input type="checkbox" value="27">Storage Services<br>
                        <input type="checkbox" value="24">Re-entry Assistance<br>
                        <input type="checkbox" value="29">Transportation Services<br>
                    </section>
                </div>
                
                <button type="submit" id="submit-button">Find Resources</button>
           
            </form>
           
        </div>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>