<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
       <div class = "b"><h4>H4</h4></div> 
           <form action ="/results" method="POST">
            
                <label for="gender">Your gender identity</label>    
                    <select name="gender" id="gender" required>
                        <option disabled selected value>-- select one --</option>
                        <option value="rna">Rather not say</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>

                <label for="kids">Do you have children with you?</label>
                    <select name="kids" id="kids" required>
                        <option disabled selected value>-- select one --</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                
                <div id="population">
                    <h3>Select all of the groups to which you belong:</h3>
                    <input type="checkbox" name="pop1" value="poc">People of Color<br>
                    <input type="checkbox" name="pop2" value="native">Native People<br>
                    <input type="checkbox" name="pop3" value="lgbtqia">LGBTQIA<br>
                    <input type="checkbox" name="pop4" value="veteran">Veterans<br>
                    <input type="checkbox" name="pop5" value="senior">Senior Citizens<br>
                    <input type="checkbox" name="pop6" value="immigrant">Immigrants or Refugees<br>
                    <input type="checkbox" name="pop7" value="survivor">Survivors of Violence<br>
                </div>
                
                <div id="services">
                    <h3>Select all services in which you are interested:</h3>
                    <section id="basic-needs">
                        <h4>Basic Needs</h4>
                        <input type="checkbox" name="service1" value="emergency">Emergency and Crisis Lines<br>
                        <input type="checkbox" name="service2" value="hygiene">Hygiene Services<br>
                        <input type="checkbox" name="service3" value="encampment">Encampments<br>
                        <input type="checkbox" name="service4" value="day">Day Centers<br>
                        <input type="checkbox" name="service5" value="food">Food Assistance<br>
                        <input type="checkbox" name="service6" value="housing">Housing Services<br>
                        <input type="checkbox" name="service7" value="shelter">Shelters<br>
                        <input type="checkbox" name="service8" value="clothing">Clothing Services<br>
                    </section>
                    <section id="health">
                        <h4>Health</h4>
                        <input type="checkbox" name="health1" value="dental">Dental and Vision Services<br>
                        <input type="checkbox" name="health2" value="drug">Drug and Alchohol Services<br>
                        <input type="checkbox" name="health3" value="family">Family and Maternity Services<br>
                        <input type="checkbox" name="health4" value="general">General Health Services<br>
                        <input type="checkbox" name="health5" value="hiv">HIV/AIDS Services<br>
                        <input type="checkbox" name="health6" value="mental">Mental Health Services<br>
                    </section>
                    <section id="financial">
                        <h4>Financial, Legal, and Employment</h4>
                        <input type="checkbox" name="financial1" value="identification">Identification Services<br>
                        <input type="checkbox" name="financial2" value="employment">Employment and Training Services<br>
                        <input type="checkbox" name="financial3" value="financial">Financial Assistance<br>
                        <input type="checkbox" name="financial4" value="legal">Legal Services<br>
                        <input type="checkbox" name="financial5" value="mail">Mail Services<br>
                        <input type="checkbox" name="financial6" value="storage">Storage Services<br>
                        <input type="checkbox" name="financial7" value="reentry">Re-entry Assistance<br>
                        <input type="checkbox" name="financial8" value="transportation">Transportation Services<br>
                    </section>
                </div>
                
                <button type="submit" id="submit-button">Find Resources</button>
           
            </form>
           
        </div>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>