<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
		<div id="count"></div>
    <main>
        <%- include('./detail', {organizations: results}) %>
    </main>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>
