<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
		<div id="key">
			<!-- <ul id="icons">
				<li><i class="fas fa-venus restrictions fa-lg" title="Women Only"></i></li>
				<li><i class="fas fa-mars restrictions fa-lg" title="Men Only"></i></li>
				<li><i class="fas fa-child restrictions fa-lg" title="Children Not Allowed"></i></li>
				<li><i class="fas fa-exclamation fa-lg" title="Emergency or Crisis Line"></i></li>
				<li><i class="fas fa-shower fa-lg" title="Hygiene Services"></i></li>
				<li><i class="fas fa-campground fa-lg" title="Encampment"></i></li>
				<li><i class="fas fa-sun fa-lg" title="Day Center"></i></li>
				<li><i class="fas fa-utensils fa-lg" title="Food Assistance"></i></li>
				<li><i class="fas fa-building fa-lg" title="Housing Services"></i></li>
				<li><i class="fas fa-home fa-lg" title="Shelter"></i></li>
				<li><i class="fas fa-tshirt fa-lg" title="Clothing Services"></i></li>
				<li><i class="fas fa-tooth fa-lg" title="Dental and Vision Services"></i></li>
				<li><i class="fas fa-syringe fa-lg" title="Drug and/or Alcohol Services"></i></li>
				<li><i class="fas fa-baby fa-lg" title="Family and Maternity Services"></i></li>
				<li><i class="fas fa-briefcase-medical fa-lg" title="General Health Services"></i></li>
				<li><i class="fas fa-ribbon fa-lg" title="HIV/AIDS Services"></i></li>
				<li><i class="fas fa-brain fa-lg" title="Mental Health Services"></i></li>
				<li><i class="fas fa-id-card fa-lg" title="Identification Services"></i></li>
				<li><i class="fas fa-wrench fa-lg" title="Employment and Training Services"></i></li>
				<li><i class="fas fa-hand-holding-usd fa-lg" title="Financial Assistance"></i></li>
				<li><i class="fas fa-balance-scale fa-lg" title="Legal Services"></i></li>
				<li><i class="fas fa-envelope fa-lg" title="Mail Services"></i></li>
				<li><i class="fas fa-archive fa-lg" title="Storage Services"></i></li>
				<li><i class="fas fa-hands-helping fa-lg" title="Re-entry Assistance"></i></li>
				<li><i class="fas fa-bus-alt fa-lg" title="Transportation Services"></i></li>
			</ul> -->
		</div>
		<div id="count"></div>
    <main>
        <%- include('./detail', {organizations: results}) %>
    </main>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>
