<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
		<div id="count"></div>
		<!-- <div id="key">
			<p>Each organization shows icons to identify any services offered or restrictions:</p>
			<ul id="services-offered">
				<li><i class="fas fa-exclamation"></i>Emergency or Crisis Line</li>
				<li><i class="fas fa-shower"></i>Hygiene Services</li>
				<li><i class="fas fa-campground"></i>Encampment</li>
				<li><i class="fas fa-sun"></i>Day Center</li>
				<li><i class="fas fa-utensils"></i>Food Assistance</li>
				<li><i class="fas fa-building"></i>Housing Services</li>
				<li><i class="fas fa-home"></i>Shelter</li>
				<li><i class="fas fa-tshirt"></i>Clothing Services</li>
				<li><i class="fas fa-tooth"></i>Dental and Vision Services</li>
				<li><i class="fas fa-syringe"></i>Drug and/or Alcohol Services</li>
				<li><i class="fas fa-baby"></i>Family and Maternity Services</li>
				<li><i class="fas fa-briefcase-medical"></i>General Health Services</li>
				<li><i class="fas fa-ribbon"></i>HIV/AIDS Services</li>
				<li><i class="fas fa-brain"></i>Mental Health Services</li>
				<li><i class="fas fa-id-card"></i>Identification Services</li>
				<li><i class="fas fa-wrench"></i>Employment and Training Services</li>
				<li><i class="fas fa-hand-holding-usd"></i>Financial Assistance</li>
				<li><i class="fas fa-balance-scale"></i>Legal Services</li>
				<li><i class="fas fa-envelope"></i>Mail Services</li>
				<li><i class="fas fa-archive"></i>Storage Services</li>
				<li><i class="fas fa-hands-helping"></i>Storage Services</li>
				<li><i class="fas fa-bus-alt"></i>Transportation Services</li>
			</ul>
			<ul id="restrictions">
				<li><i class="fas fa-venus"></i>Women Only</li>
				<li><i class="fas fa-child"></i>Children Not Allowed</li>
				<li><i class="fas fa-mars"></i>Men Only</li>
			</ul> -->
		</div>
    <main>
        <%- include('./detail', {organizations: results}) %>
    </main>
    </div>
    <%- include('../layout/footer') %>
    </div>
</body>
</html>
