body {
	font-family: 'Open Sans', sans-serif;
	font-size: 6vw;
	line-height: 9vw;
	overflow-x: hidden;
}

i.hidden, li.hidden, .hidden {
	display: none;
}

#rclogo {
	width: 96vw;
	height: auto;
}

#rclogo img {
    width: 80vw;
    height: auto;
	margin: 0 10vw;
	background-color: transparent;
}

#logo-link {
	height: 0;
}

#banner {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2vw;
}

#mobile-nav {
	text-align: center;
	width: 100%;
	color: white;
	background-color: #0e7dc2;
}

#mobile-nav li {
	border: 1px solid white;
	display: block;
}

#mobile-nav a {
	text-decoration: none;
	color: white;
}

i {
	display: block;
}

h1, h2, h3, #instructions {
		font-family: 'franklin-gothic-urw-cond','Helvetica','Arial',sans-serif;
}

h1 {
		font-size: 7vw;
		font-weight: bold;
		line-height: 8vw;
		text-align: center;
		margin: 0 12vw;
		color: #0e7dc2;
		width: 76vw;
		padding-top: 3vw;
}

#instructions, #sponsorask {
	font-style: oblique;
	margin: 2vw;
	width: 96vw;
	text-align: center;
	font-size: 4vw;
	line-height: 5vw;
}

label, select {
	display: inline-block;
	/* margin: 1vw auto; */
}

select {
	margin: 0 auto 1vw auto;
	font-size: 5vw;
	background-color: lightgrey;
}

input {
	margin: 0 2vw 2vw 1vw;;
}

h3 {
	font-size: 6vw;
	line-height: 7vw;
	text-align: left;
	font-weight: bold;
	margin: 8vw 1vw 1.5vw;
	color:  #df972d;
	width: 96vw;
}

.organization-item h3 {
	margin: 1vw;
}

h4 {
	margin: 1.5vw 2vw;
	font-style: oblique;
	font-weight: bold;
	color:#0e7dc2;
	font-size: 5vw;
}

#about-you, #services {
	border-radius: 5px;
	padding: 1vw 1vw 3vw 1vw;
	margin: 2vw;
}

#services label, #population label {
	border-radius: 5px;
	width: 90vw;
	margin: 0vw 5vw;
	line-height: 6vw;
	font-size: 5vw;
	background-color:lightgrey;
}

form {
	border-radius: 5px;
	margin-bottom: 4vw;
	padding-bottom: 2vw;
}

form p {
	margin: 1.5vw 2vw;
}

button {
	display: block;
	background-color:#0e7dc2;
	color: white;
	font-size: 6vw;
	border-radius: 5px;
	padding: 2vw 3.5vw;
	margin: 4vw auto;
}

.a {
	display: flex;
	flex-wrap: wrap;
}

.d {
	background-image: url('../images/skyline.jpg');
	height: 20vw;
	background-repeat: repeat-x;
	background-color: white;
	background-size: contain;
}


.desc-button {
	margin: 1vw 0 2vw;
}

.desc {
	font-style: italic;
	margin: 1vw 1vw 2vw 2vw;
	font-size: 4vw;
}

p {
	font-size: 5vw;
}

#count {
	text-align: center;
	font-weight: bold;
	background-color: #df972d;
}

.organization-item {
	word-wrap: break-word;
	margin:2vw 2vw 3vw 2vw;
	border-bottom: 2px solid black;
	display: flex;
	width: 96vw;
	flex-wrap: wrap;
	font-size: 4vw;
	line-height: 5vw;
}

.organization-container {
	margin-bottom: 8vw;
}

.label {
	color:#0e7dc2;
	width: 30%;
	text-align: right;
}

#results-intro {
	font-style: italic;
	padding: 2vw 2vw 3vw 2vw;
	text-align: center;
}

.content {
	width: 60vw;
  padding:0 1vw 1vw 2vw;
}

#last-content {
	margin-bottom: 4vw;
}

.menu {
	margin: 4vw;
}

.selectdiv select {
	display: block;
	width: 90vw;
	padding: 0px 24px;
	word-break: normal;
	font-family: inherit;
}

select::-ms-expand {
	display: block;
}

#sponsors {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4vw;
}

#sponsors a {
	height: 0;
}

#presenting img, #sponsors h2, #sponsors h3{
	width: 100vw;
	text-align: center;
	padding-bottom: 3vw;
}

#changemaker img {
	height: 15vw;
	width: auto;
	margin: 2vw 12vw;
}

#visionary ul, #changemaker ul, #catalyst ul, #grassroots ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#visionary img, #catalyst img {
	width: 46vw;
	margin: 0 1vw;
}

#grassroots img {
	width: 32vw;
}

#evergreen, #jfs {
	padding-top: 2vw;
}

#sponsorheader {
	background-color: #df972d;
	padding: 2vw 0;
}

p.contact {
	text-align: center;
	padding: 1vw;
}

#emaillink {
	font-weight: bold;
	color: #df972d;
}

#emailcopy {
	text-transform: none;
	font-size: 4vw;
}

#confirmation {
	height: 100vw;
	text-align: center;
	padding: 1vw;
	line-height: 6vw;
}

#confirmation p {
	font-size: 4vw;
	line-height: 5vw;
}

form.contact {
	width: 96vw;
	margin: 2vw;
	background-color: lightgrey;
}

form.contact label, form.contact input{
	display: block;
	width: 89vw;
	padding: 1vw;
	font-size: 5vw;
}

form.contact input {
	border: solid 2px #df972d;
	border-radius: 2px;
	height: 6vw;
	padding-left: 1vw;
}

#filter-container {
	text-align: center;
	padding: 2vw;
	border-bottom: 2px black solid;
	margin: 0vw 2vw;
}

#clear-filter {
	text-transform: none;
	font-size: 3vw;
}

#filters {
	width: 55vw;
}

