@media only screen and (min-width:600px){
	body{
		font-size: 2vw; 
		line-height: 2.5vw;
	}
	
	#mobile-nav, i.menu {
		display: none;
	}

	#desktop-nav, #desktop-nav ul {
		display: flex;
		width: 100%;
		align-content: space-between;
		background-color: #006085;
		color: white;
	}

	#desktop-nav a {
		width: 33.33%;
		text-align: center;
		text-decoration: none;
		color: white;
		padding: 1vw;
	}

	#desktop-nav a:hover {
		background-color: grey;
	}

	h1 {
		font-size: 6vw;
    margin: 2vw;
    line-height: 5vw;
    padding-top: 4vw;
	}

	h3 {
		font-size: 2vw;
		line-height: 3vw;
		margin-left: 0;
	}

	form {
		display: flex;
		flex-wrap: wrap;
	}
	
	h4 {
		margin: 2vw 2vw 2vw .5vw;
		font-size: 2vw;
		line-height: 3vw;
	}

	input {
		margin-left: 1vw;
		margin-right: 1vw;
	}

	#services, #about-you {
		width: 43vw;
	}

	button {
		font-size: 3vw;
		border-radius: 5px;
		text-transform: uppercase;
		padding: 1vw 3vw;
		margin: 2vw auto;
	}

	button:hover {
		cursor: pointer;
	}

	select {
		font-size: 2vw;
		margin-bottom: 2vw;
	}

	select:hover {
		cursor: pointer;
	}
	
  #services label, #population label {
		font-size: 2vw;
		margin: .5vw;
	}

  #services label:hover, #population label:hover {
		cursor: pointer;
	}

	#instructions {
		font-size: 2vw;
	}

	#population {
		margin-top: 4vw;
	}

	.a img {
		width: 10%;
		height: 10%;
		margin: 4vw 1vw 4vw 15vw;
	}

	#about-you, #services {
		padding-bottom: 0;
	}

	#count {
		padding: 1vw;
	}
	
	.label, .content, .desc {
		font-size: 2vw;
	}

	.label {
		width: 15vw;
	}

	.content {
		padding: 0 0 0 1vw;
		width: 80vw
	}
  
  i:hover {
		cursor: pointer;
	}

}