@media only screen and (min-width:600px){
	body{
		font-size: 2vw; 
		line-height: 2.5vw;
	}

	#mobile-nav, i.menu {
		display: none;
	}

	#desktop-nav, #desktop-nav ul {
		display: flex;
		width: 100%;
		align-content: space-between;
		background-color:#0e7dc2;
		color: white;
	}

	#desktop-nav a {
		width: 33.33%;
		text-align: center;
		text-decoration: none;
		color: white;
		padding: 1.2vw;
	}

	#desktop-nav a:hover {
		background-color: grey;
	}

  #desktop-nav li {
		display: block;
    font-size: 1.2vw;
    line-height: 1.5vw;
	}

	#rclogo img {
    width: 30vw;
    height: auto;
		margin: 0 35vw;
	}

	#banner {
		padding-bottom: 0;
	}
	
	#index-container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15vw;
	}


	h1 {
		font-size: 3vw;
    line-height: 4vw;
		width: 100vw;
		text-align: center;
    margin: 2vw 0;
    padding-top: .5vw;
	}

	h3 {
		font-size: 1.5vw;
    line-height: 2vw;
    margin: 1vw 0;
		width: 76vw;
	}
 
	#organization-container h3 {
		width: 100vw;
	}

	.form {
		display: flex;
    width: 76vw;
    flex-wrap: wrap;
    padding-left: 2vw;
	}
	
	h4 {
		margin: .5vw;
    font-size: 1vw;
    line-height: 2vw;
	}

	input {
		margin: 0 1vw;
	}

	#services, #about-you {
		width: 100vw;
	}

	button, input[type="button"] {
		font-size: 1.5vw;
    border-radius: 5px;
    padding: 1vw 1.5vw 1vw 1.5vw;
		margin: 1vw auto;
		height: 4vw;
	}

	button:hover {
		cursor: pointer;
	}
	
  .selectdiv {
    padding: 0;
    margin: 0;
	}

	.selectdiv select {
		width: 19vw;
    margin: .5vw 0;
	}

	select {
		font-size: 1vw;
	}

	select:hover {
		cursor: pointer;
	}
	
  #services label, #population label {
		font-size: .9vw;
    margin: .2vw;
    line-height: 2vw;
    width: 18vw;
	}

  #services label:hover, #population label:hover {
		cursor: pointer;
	}

	.instructions, #sponsorask {
		font-size: 1vw;
    line-height: 1.5vw;
    margin: 1vw 0;
	}
	
	#sponsorask {
		width: 20vw;
	}

	#population {
		height: 5vw;
    margin-left: 0;
		padding-left: 0;
		margin-top: 0vw;
	}

	.a img {
		width: 3vw;
    height: 4vw;
    margin: 2vw .5vw 2vw 35vw;
	}

	#about-you, #services {
		padding: 0vw;
    margin: 0;
	}

	#count {
		padding: 1vw;
	}
	
	.label, .content, .desc {
		font-size: 1.5vw;
		line-height: 2.5vw;
	}

	.label {
		width: 15vw;
	}

	.content {
		padding: 0 0 0 1vw;
		width: 80vw
	}
  
  i:hover {
		cursor: pointer;
	}

	#sponsors {
		width: 20.25vw;
		background:rgba(223,151,45, .15);
    margin: 1vw 1vw 0 0;
	}

	#sponsors h2 {
		font-weight: bold;
	}

	#sponsors h3 {
    padding-top: 1vw;
	}

	#presenting img, #sponsors h2, #sponsors h3, #visionary h3{
		padding: 1vw;
    width: 18vw;
    font-size: 1vw;
    line-height: 1.5vw;
    margin: 0;
	}

	#presenting img {
		width: 17vw;
    padding-left: 1.5vw; 
	}
	
	#changemaker img {
		margin: 1vw;
    width: 8vw;
    height: 2vw;
	}
	
	#visionary img, #catalyst img {
		width: 8vw;
    margin: .5vw;
	}
	
  #evergreen, #jfs {
		padding-top: .5vw;
	}

  #catalyst ul, #grassroots ul {
		width: 20vw;
	}

	#grassroots img {
		width: 4vw;
    margin: 1vw;
	}
	
	#sponsorheader {
		width: 20.75vw;
		padding: 1vw 0 0 0;
	}

	p.contact {
		font-size: 1.5vw;
		line-height: 2.5vw;
		width: 40vw;
		margin: 1vw 5vw;
	}

	#emailcopy {
		font-size: 3vw;
	}

	#confirmation {
		padding: 2vw;
	}

  #contact-page {
		display: flex;
		flex-wrap: wrap;
		height: 101.5vw;
	}

	#copy-request, #feedback {
		width: 49.9vw;
	}

	#feedback {
		border-left: .2vw dotted #0e7dc2;
	}
  form.contact {
		width:40vw;
		margin: 2vw 5vw;
		padding: 1vw;
	}
	
	form.contact label, form.contact input{
		padding: 1vw;
		font-size: 1.5vw;
	}
	
	form.contact input {
		height: 2vw;
		border-radius: 5px;
		width: 35vw;
	}
  #filter-label-container {
		display: flex;
	}
	#clear-filter {
		margin: 0;
    font-size: 1.5vw;
    padding: .3vw 1.5vw;
	}

	#filters {
		width: 30vw;
		height: 3vw;
    margin: 0vw 4vw 0vw 2vw;
	}

	#filter-label-container {
		padding-left: 14vw;
	}

	.d {
		height: 10vw;
	}

	#feedbackfield {
		font-size: 1.5vw;
		width: 35vw;
    padding: 1vw;
	}

	#all-form {
		margin-bottom: 0;
    padding: 0;
	}

	#print-button {
		display: block;
	}

	button.signout {
		border: none;
		margin: 0 auto;
		width: 20vw;
		font-size: 1.2vw;
    line-height: 1.5vw;
	}

	a.admin-nav {
		width: 20vw;
		vertical-align: baseline
	}
	input#searchbar {
		height: 3vw;
		font-size: 2vw;
	}

	#editform h2 {
		border: none;
	}
	
	#editform span {
		width: 15vw;
		font-size: 2vw;
		padding-top: 1vw;
		line-height: 3vw;
		padding-left: 5vw;
	}
	
	#editform textarea, #genderopts {
		width: 73vw;
		border-radius: 5px;
		margin: 0 2vw 2vw 0;
		font-size: 1vw;
		line-height: 2vw;
		height: 2vw;
		padding: 1vw;
	}
	
	#editform textarea.big {
		height:5vw;
	}
	
	#editform textarea.bigger {
		height: 10vw;
	}
	
	#adminedit {
		padding-bottom: 15vw;
	}

	#editform span.timestamp-display {
		font-size: 1vw;
		line-height: 2vw;
	}

	#editform span#timestamp-data {
		width: 60vw;
		padding-left: 0;
	}

	#genderopts input {
    margin: .5vw 2vw;
}

}