<header>
	<i class="fas fa-bars menu" aria-label="Open Menu"></i>
	<i class="fas fa-times menu hidden" aria-label="Close Menu"></i>
	<nav id="mobile-nav" class="hidden">
		<ul>
				<li>New Search</li>
				<li>Real Change</li>
				<li>Sponsors</li>
		</ul>
	</nav>
	<div class="a">
		<img src="images/ecrglogo.png">
		<h1>Emerald City Resource Guide</h1>
		<nav id="desktop-nav" class="hidden">
			<ul>
				<a href="../pages/index.ejs"><li>New Search</li></a>
				<a href=""><li>Real Change</li></a>
				<a href=""><li>Sponsors</li></a>
			</ul>
		</nav>
	</div>
</header>