<header>
	<i class="fas fa-bars menu fa-2x" aria-label="Open Menu"></i>
	<i class="fas fa-times menu hidden fa-2x" aria-label="Close Menu"></i>
	<nav id="mobile-nav" class="hidden">
		<ul>
				<a href="http://www.emeraldcityresourceguide.org/"><li>New Search</li></a>
				<a href="https://51573.thankyou4caring.org/emerald-city-resource-guide"><li>Become a Sponsor</li></a>
				<a href="https://www.realchangenews.org/"><li>Real Change</li></a>
				<a href="/contact"><li>Contact</li></a>
				
		</ul>
	</nav>
	<div class="a">
		<div id="banner">
		  <a href="https://www.realchangenews.org/" id="rclogo"> <img src="images/RC_Logo_HigherRes.jpg"></a>
		  <h1>Emerald City Resource Guide</h1>
		</div>
		<nav id="desktop-nav" class="hidden">
			<ul>
				<a href="http://www.emeraldcityresourceguide.org/"><li>New Search</li></a>
				<a href="https://51573.thankyou4caring.org/emerald-city-resource-guide"><li>Become a Sponsor</li></a>
				<a href="https://www.realchangenews.org/"><li>Real Change</li></a>
				<a href="/contact"><li>Contact</li></a>
			</ul>
		</nav>
	</div>
</header>