<div id="sponsors">
  <div id="sponsorheader">
    <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
    <p id="sponsorask">Want to become a sponsor? <br> Get started <a
        href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
  </div>
  <!--
  <section id="visionary">
    <h3 id="visionary">Visionary Sponsors</h3>
    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/disability-empowerment-center.png" alt="Disability Empowerment Center"></div>
        <div><img src="images/swedish-logo.svg" alt="Swedish"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </ul>
  </section>
  -->
  <section id="changemaker">
    <h3 id="changemaker">Change Maker Sponsors</h3>
    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/SPL.jpg" alt="Seattle Public Library"></div>
        <div><img src="images/public-health-seattle.png" alt="Public Health Seattle & King County"></div>
        <div><img src="images/historic-south-downtown.png" alt="Historic South Downtown"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </ul>
  </section>
  <section id="catalyst">
    <h3 id="catalyst">Catalyst Sponsors</h3>

    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/nova-sunwave.png" alt="NOVA"></div>
        <div><img src="images/recovery-cafe.svg" alt="Recovery Cafe"></div>
        <div><img src="images/REACH.png" alt="REACH"></div>
        <div><img src="images/providence-swedish.png" alt="Providence Swedish"></div>
        <div><img src="images/peer-seattle.svg" alt="Peer Seattle"></div>
        <div><img src="images/neighborcare-health.png" alt="Neighborcare Health"></div>
        <div><img src="images/ICHS-Logo-Color.png" alt="International Community Health Services"></div>
        <div><img src="images/hep.png" alt="HEP"></div>
        <div><img src="images/ballard-food-bank.svg" alt="Ballard Food Bank"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </div>    
  </section>
  <section id="grassroots">
    <h3 id="grassroots">Grassroots Sponsors</h3>

    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/west-seattle-food-bank.png" alt="West Seattle Food Bank"></div>
        <div><img src="images/valley-cities.png" alt="Valley Cities"></div>
        <div><img src="images/udist_food_bank.png" alt="Univeristy District Food Bank"></div>
        <div><img src="images/solid_ground.png" alt="Solid Ground"></div>
        <div><img src="images/PHS.png" alt="Pioneer Human Services"></div>
        <div><img src="images/north-helpline.png" alt="North Helpline"></div>
        <div><img src="images/NightWATCH.jpg" alt="Operation Nightwatch"></div>
        <div><img src="images/marys-place.png" alt="Mary's Place"></div>
        <div><img src="images/kvru-logo-black.png" alt="KVRU 105.7 FM"></div>
        <div><img src="images/evergreen_treatment_services.png" alt="Evergreen Treatment Services"></div>
        <div><img src="images/duwamish.png" alt="The Duwamish Tribe"></div>
        <div><img src="images/disability-empowerment-center.png" alt="Disability Empowerment Center"></div>
        <div><img src="images/DFSS.png" alt="Dress for Success"></div>
        <div><img src="images/desc.png" alt="DESC"></div>
        <div><img src="images/ths-logo.png" alt="Therapeutic Health Services"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </div>
  </section>
</div>

<script>
  window.addEventListener('load', () => {
    document.querySelectorAll('.glider').forEach(glider => {
      const numImages = glider.querySelectorAll('img').length;
      const dots = glider.parentNode.querySelector('.dots');
      const prev = glider.parentNode.querySelector('.glider-prev');
      const next = glider.parentNode.querySelector('.glider-next');
      new Glider(glider, {
        slidesToShow: '1',
        draggable: true,
        dots,
        arrows: { prev, next },
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: numImages <= 2 ? 2 : 'auto',
              itemWidth: 400,
              dots: numImages <= 2 ? null : dots,
            },
          },
        ],
      });
    });
  });
</script>
