<div id="sponsors">
  <div id="sponsorheader">
    <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
    <p id="sponsorask">Want to become a sponsor? <br> Get started <a
        href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
  </div>
  <!--<section id="changemaker">
    <h3>Changemaker Sponsor</h3>
  </section>-->
  <section id="visionary">
    <h3 id="visionary">Visionary Sponsors</h3>
    <ul>
      <li><img src="images/disability-empowerment-center.png"
        alt="Disability Empowerment Center"></li>
      <li><img src="images/swedish-logo.jpg"
      alt="Swedish"></li>
    </ul>
  </section>
  <section id="catalyst">
    <h3 id="catalyst">Catalyst Sponsors</h3>
    <ul>
      <li><img src="images/compass-housing-alliance.png" alt="Compass Housing Alliance"></li>
      <li><img src="images/neighborcare-health.png"
        alt="Neighborcare Health"></li>
      <li><img src="images/peer-seattle.png"
        alt="Peer Seattle"></li>
      <li><img src="images/recovery-cafe.png"
      alt="Recovery Cafe"></li>
      <li><img src="images/nova-sunwave.png"
      alt="NOVA"></li>
      <li><img src="images/hep.png"
      alt="HEP"></li>
      <li><img src="images/kcdpd.jpg"
      alt="KCDPD"></li>
      <li><img src="images/west-seattle-food-bank.png"
        alt="West Seattle Food Bank"></li>
      <li><img src="images/ballard-food-bank.jpg"
          alt="Ballard Food Bank"></li>
      <li><img src="images/ICHS-Logo-Color.png"
          alt="Ballard Food Bank"></li>
    </ul>
  </section>
  <section id="grassroots">
    <ul>
      <h3 id="grassroots">Grassroots Sponsors</h3>
      <li><img src="images/aurora-commons.png"
        alt="Aurora Commons"></li>
      <li><img src="images/marys-place.png"
            alt="Mary's Place"></li>
      <li><img src="images/valley-cities.png"
      alt="Valley Cities"></li>
      <li><img src="images/uplift-northwest.png"
      alt="Uplift Northwest"></li>
      <li><img src="images/north-helpline.png"
      alt="North Helpline"></li>
      <li><img src="images/NightWATCH.jpg"
      alt="Operation Nightwatch"></li>
      <li><img src="images/pike_market_senior_center.jpg"
      alt="Pike Market Senior Center"></li>
    </ul>
  </section>
</div>