<div id="sponsors">
    <div id="sponsorheader">
        <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
        <p id="sponsorask">Want to become a sponsor? <br> Get started <a href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
    </div>
    <section id="visionary">
        <h3 id="visionary">Visionary Sponsors</h3>
            <ul>
                <li><a href="https://www.ywcaworks.org/" target="_blank"><img src="images/ywca.png" alt="YWCA"></a></li>
                <li><a href="https://www.premera.com/wa/visitor/" target="_blank"><img src="images/premera.png" alt="Premera"></a></li>
            </ul>
    </section>
    <section id="changemaker">
        <h3>Changemaker Sponsor</h3>
                <ul>
                    <li><a href="https://www.swedish.org/" target="_blank"><img src="images/swedish.png" alt="Swedish Medical Group"></a></li>
                </ul>
    </section>
    <section id="catalyst">
        <h3 id="catalyst">Catalyst Sponsors</h3>
            <ul>
                <li><a href="https://www.novafish.com/" target="_blank"><img src="images/nova.png" alt="The Simon Family Charitable Trust and NOVA Foundation"></a></li>
                <li><a href="https://neighborcare.org/" target="_blank"><img src="images/neighborcare.png" alt="Neighborcare Health"></a></li>
                <li><a href="https://www.amerigroup.com/" target="_blank"><img src="images/amerigroup.png" alt="Amerigroup"></a></li>
                <li><a href="https://homeinseattle.com/" target="_blank"><img src="images/windermere.png" alt="Windermere Real Estate"></a></li>
                <li><a href="https://ccsww.org/" target="_blank"><img src="images/ccs.png" alt="Catholic Community Services"></a></li>
            </ul>
    </section>
    <section id="grassroots">
        <h3 id="grassroots">Grassroots Sponsors</h3>
            <ul>
                <li><a href="https://recoverycafe.org/" target="_blank"><img src="images/recovery_cafe.png" alt="Recovery Cafe"></a></li>
                <li><a href="https://www.uwkc.org/" target="_blank"><img src="images/UWKC.png" alt="United Way of King County"></a></li>
                <li><a href="https://pioneerhumanservices.org/" target="_blank"><img src="images/pioneer.png" alt="Pioneer Human Services"></a></li>
                <li><a href="https://www.desc.org" target="_blank"><img src="images/desc.png" alt="The Downtown Emergency Service Center"></a></li>
                <li><a href="https://www.chpw.org/" target="_blank"><img src="images/community_health_plan.png" alt="Community Health Plan of Washington"></a></li>
                <li><a href="https://www.evergreentx.org/" target="_blank"><img src="images/evergreen.png" alt="Evergreen Treatment Services" id="evergreen"></a></li>
                <li><a href="https://www.jfsseattle.org/" target="_blank"><img src="images/jfs.png" alt="Jewish Family Service" id="jfs"></a></li>
                <li><a href="https://byrdbarrplace.org/" target="_blank"><img src="images/byrd.png" alt="Byrd Barr Place"></a></li>
                <li><a href="https://www.solid-ground.org/" target="_blank"><img src="images/solid_ground.png" alt="Solid Ground"></a></li>
                <li><a href="https://www.uhccommunityplan.com/" target="_blank"><img src="images/uhc.png"></a></li>
                <li><a href="https://www.navos.org/" target="_blank"><img src="images/navos.png" alt="Navos"></a></li>
                <li><a href="https://www.kingcounty.gov/depts/health.aspx" target="_blank"><img src="images/kcph.png" alt="King County Public Health"></a></li>
                <li><a href="https://westseattlefoodbank.org/" target="_blank"><img src="images/west_seattle_food_bank.png" alt="West Seattle Food Bank"></a></li>
                <li><a href="https://www.compasshousingalliance.org/" target="_blank"><img src="images/compass.png" alt="Compass Housing Alliance"></a></li>
                <li><a href="https://lihi.org/" target="_blank"><img src="images/lihi.png" alt="LIHI"></a></li>
            </ul>
    </section>
</div>
</div>
</div>