<div id="sponsors">
  <div id="sponsorheader">
    <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
    <p id="sponsorask">Want to become a sponsor? <br> Get started <a
        href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
  </div>
  <!--<section id="changemaker">
    <h3>Changemaker Sponsor</h3>
  </section>-->
  <section id="catalyst">
    <h3 id="catalyst">Catalyst Sponsors</h3>
    <ul>
      <li><a href="" target="_blank"><img src="images/compass-housing-alliance.png" alt="Compass Housing Alliance"></a></li>
      <li><a href="" target="_blank"><img src="images/neighborcare-health.png"
        alt="Neighborcare Health"></a></li>
      <li><a href="" target="_blank"><img src="images/peer-seattle.png"
        alt="Peer Seattle"></a></li>
      <li><a href="" target="_blank"><img src="images/recovery-cafe.png"
      alt="Recovery Cafe"></a></li>
      <li><a href="" target="_blank"><img src="images/nova-sunwave.png"
      alt="NOVA"></a></li>
      <li><a href="" target="_blank"><img src="images/hep.png"
      alt="HEP"></a></li>
      <li><a href="" target="_blank"><img src="images/kcdpd.jpg"
      alt="KCDPD"></a></li>
      <li><a href="" target="_blank"><img src="images/west-seattle-food-bank.png"
        alt="West Seattle Food Bank"></a></li>
    </ul>
  </section>
  <section id="grassroots">
    <ul>
      <h3 id="grassroots">Grassroots Sponsors</h3>
      <li><a href="" target="_blank"><img src="images/aurora-commons.png"
        alt="Aurora Commons"></a></li>
      <li><a href="" target="_blank"><img src="images/ballard-food-bank.jpg"
          alt="Ballard Food Bank"></a></li>
      <li><a href="" target="_blank"><img src="images/marys-place.png"
            alt="Mary's Place"></a></li>
      <li><a href="" target="_blank"><img src="images/valley-cities.png"
      alt="Valley Cities"></a></li>
      <li><a href="" target="_blank"><img src="images/uplift-northwest.png"
      alt="Uplift Northwest"></a></li>
      <li><a href="" target="_blank"><img src="images/north-helpline.png"
      alt="North Helpline"></a></li>
    </ul>
  </section>
  <section id="visionary">
    <h3 id="visionary">Visionary Sponsors</h3>
    <ul>
      <li><a href="" target="_blank"><img src="images/disability-empowerment-center.png"
        alt="Disability Empowerment Center"></a></li>
      <li><a href="" target="_blank"><img src="images/swedish-logo.jpg"
      alt="Swedish"></a></li>
    </ul>
  </section>
</div>