<div id="sponsors">
  <div id="sponsorheader">
    <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
    <p id="sponsorask">Want to become a sponsor? <br> Get started <a
        href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
  </div>
  <!--<section id="visionary">
        <h3 id="visionary">Visionary Sponsors</h3>
    </section>
  <section id="changemaker">
    <h3>Changemaker Sponsor</h3>
  </section>-->
  <section id="catalyst">
    <h3 id="catalyst">Catalyst Sponsors</h3>
    <ul>
      <li><a href="https://www.ballardfoodbank.org/" target="_blank"><img src="images/ballard_food_bank.jpg"
            alt="Ballard Food Bank"></a></li>
    </ul>
  </section>
  <!--<section id="grassroots">
    <h3 id="grassroots">Grassroots Sponsors</h3>
  </section>-->
</div>