<div id="sponsors">
  <div id="sponsorheader">
    <h2>Thanks to all of our sponsors for making the Emerald City Resource Guide possible!</h2>
    <p id="sponsorask">Want to become a sponsor? <br> Get started <a
        href="https://51573.thankyou4caring.org/emerald-city-resource-guide">here</a>.</p>
  </div>
  <section id="visionary">
    <h3 id="visionary">Visionary Sponsors</h3>
    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/disability-empowerment-center.png" alt="Disability Empowerment Center"></div>
        <div><img src="images/swedish-logo.svg" alt="Swedish"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </ul>
  </section>
  <section id="catalyst">
    <h3 id="catalyst">Catalyst Sponsors</h3>

    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/compass-housing-alliance.svg" alt="Compass Housing Alliance"></div>
        <div><img src="images/neighborcare-health.png" alt="Neighborcare Health"></div>
        <div><img src="images/peer-seattle.svg" alt="Peer Seattle"></div>
        <div><img src="images/recovery-cafe.svg" alt="Recovery Cafe"></div>
        <div><img src="images/nova-sunwave.png" alt="NOVA"></div>
        <div><img src="images/hep.png" alt="HEP"></div>
        <div><img src="images/kcdpd.png" alt="KCDPD"></div>
        <div><img src="images/west-seattle-food-bank.png" alt="West Seattle Food Bank"></div>
        <div><img src="images/ballard-food-bank.svg" alt="Ballard Food Bank"></div>
        <div><img src="images/ICHS-Logo-Color.png" alt="International Community Health Services"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </div>    
  </section>
  <section id="grassroots">
    <h3 id="grassroots">Grassroots Sponsors</h3>

    <div class="glider-contain">
      <div class="glider">
        <div><img src="images/aurora-commons.png" alt="Aurora Commons"></div>
        <div><img src="images/marys-place.png" alt="Mary's Place"></div>
        <div><img src="images/valley-cities.png" alt="Valley Cities"></div>
        <div><img src="images/uplift-northwest.png" alt="Uplift Northwest"></div>
        <div><img src="images/north-helpline.png" alt="North Helpline"></div>
        <div><img src="images/NightWATCH.jpg" alt="Operation Nightwatch"></div>
        <div><img src="images/pike_market_senior_center.svg" alt="Pike Market Senior Center"></div>
        <div><img src="images/DVA.png" alt="Washington State Department of Veteran Affairs"></div>
      </div>

      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </div>
  </section>
</div>

<script>
  window.addEventListener('load', () => {
    document.querySelectorAll('.glider').forEach(glider => {
      const numImages = glider.querySelectorAll('img').length;
      const dots = glider.parentNode.querySelector('.dots');
      const prev = glider.parentNode.querySelector('.glider-prev');
      const next = glider.parentNode.querySelector('.glider-next');
      new Glider(glider, {
        slidesToShow: '1',
        draggable: true,
        dots,
        arrows: { prev, next },
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: numImages <= 2 ? 2 : 'auto',
              itemWidth: 400,
              dots: numImages <= 2 ? null : dots,
            },
          },
        ],
      });
    });
  });
</script>
