name: Docker Compose Actions Workflow
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        # Must use root per docs:
        # https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user
        run: docker-compose run -u root --rm node npm install --unsafe-perm
      - name: Test
        run: cp .env.dist .env && docker-compose run --rm node npm run test
